<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value=""/>
    <add key="Database" value=""/>
    <!-- User/Password is optional -->
    <add key="User" value=""/>
    <add key="Password" value=""/>
    
    
    <add key="ScriptFolder" value="C:\Scripts"/>

    <add key="ScriptProcedures" value="true"/>
    <add key="ScriptFunctions" value="true"/>
    <add key="ScriptViews" value="true"/>
    <add key="ScriptTables" value="false"/>

    <!-- Skips objects that have already been scripted and have not been modified -->
    <!-- (Script file modification date is set to match object modification date) -->
    <add key="ScriptModifiedObjectsOnly" value="false"/>
  </appSettings>
</configuration>